body {
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
        linear-gradient(155deg, black 23px, transparent 23px),
        linear-gradient(335deg, black 23px, transparent 23px),
        linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
overflow-x: auto;
}
.video-top h1 {
    border-bottom: 2px solid #ffffff;
    padding: 20px;
    margin-bottom: 40px;
   
}
h1 {
    align-items: center;
    color: #ffffff;

}
.video {
    padding: 3rem;
    margin: 40px;
    display: flex;
    justify-content: space-around;
text-align: center;
    margin-bottom: 200px;
    position: absolute;
    
}

.video-contend iframe {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    min-width: 800px;
    min-height: 450px;
}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

.gradient-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ffffff 33%, #ffffff 66%, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
    display: table;
    margin: 20px auto;
    position: absolute;
    top: 250px;
    left: 850px;
    width: 100%;
    
}
.omg{
    width: 100%;
    height: 100%;
   display: flex;
position:absolute;
}
.btw-new {
    border-radius: 10px;
    color: rgb(47, 192, 3);
    transition: .2s linear;
    background: #ffffff;
 position: fixed;
    font-family: 'Rubik One', sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        color: #000000;
        display: table;
        margin: 30px auto;
        top: 0px;
         left: 850px; 
         text-decoration: none;
        /* width: 100%; */
}

.btw-new:hover {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}